body{
	width: 100%;
	height: 100%;
	font-family: 'Libre Baskerville', serif;
	color: #206a5d;
	margin: auto;
	padding: auto;
}

.container-fluid{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*navbar*/
.navigation{
	margin-top: 0px;
	justify-content: center;
	align-items: center;
}

.navbar{
	justify-content: center;
}
.navbar-brand{
	margin-top: 0;
	padding-left: 20px;
	color: #206a5d;
	cursor: pointer;
	align-items: center;
}

.navbar-nav{
	font-size: 1.2vw;
    font-family: 'Libre Baskerville', serif;
	margin-right: 0px;
	flex-direction: row;
	justify-content: center;
}

.nav-item{
	padding-left: 40px;
	color: #206a5d;
}

/*underline animation */
.nav-link::after {
	content:'';
	display: block;
	width: 0;
	height: 2px;
	background-color: #ffd57e;
	transition: width .3s;
}

.nav-link:hover::after {
	width: 100%;
	transition: width .3s;
}

.nav-link{
	color: #206a5d;
}

.nav-link:hover{
	color: #ffd57e;
}


/* section */

#first-part {
	background-color: #f1f1e8;
}

 .content{
	 width: 100vw;
	 height: auto;
	 display: flex;
}


/*rectangle*/

.rectangle-left{
	 width: 100%;
	 height: 660px;
}

.rectangle-right{
	width: 100%;
	height: 660px;
	
}

.rectangle-left .start-text{
	margin-left: -10px;
	margin-top: 150px;
	color: #206a5d;
	float: left;
	font-size: 50px;
	position: absolute;
	left: 10px;
	z-index: 1;
}

.rectangle-left .start-text h1{
	font-size: 20px;
	color:#206a5d;
	margin-top: -10px;
}

.button1{
    border-color: #206a5d;
    background-color: #206a5d;
    padding: 10px;
    font-size: 15px;
}

.button1:hover{
   border-color:#ffd57e;
   background-color: #ffd57e;
   text-decoration: none;
}

.button1 a{
	text-decoration: none;
	color: #ffffff;
}

.rectangle-right .banner-image{
	background-image: url(./ayurveda2.png);
    background-size: cover;
    height: 660px;
    width: 900px;
    position: absolute;
    right: 0px;
    background-repeat: no-repeat;
    display: block;
}

/*rectangle 1*/

#about {
	background-color: #f1f1e8;
}

.rectangle-left1{
	width: 50%;
	height: auto;
}

.rectangle-right1{
     width: 50%;
     height: auto;
}

.about-text{
    text-align: justify;
    margin-left:50px;
    margin-right: 50px;
    color:#537a73;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    align-items: center;
  }

  
/*rectangle 2*/

.rectangle-left2{
	width: 50%;
	height: 660px;
    background-color: #f1f1e8;
}

.rectangle-right2{
     width: 50%;
	 background-color: #ffffff;
     height: 660px;
}

.rectangle-left2 .column-left{
	padding-left: 0px;
	text-align: justify;
    width: 25%;
    border-bottom-style: solid;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    columns: #537a73;
    justify-content: flex-start;
}

.rectangle-left2 .column-right{
	width: 20%;
	text-align: justify;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color:#537a73;
    justify-content: flex-start;
    padding-left: 0px;
}

.rectangle-left2 .column-down{
	width: 100%;
	position: relative;
	padding-top: 50px;
	padding-left: 60px;
	color:#537a73;
	justify-content: flex-start;
}

.rectangle-left2 a{
	color:#e79e4f;
	text-decoration: none;
	cursor: pointer;
}

/*services*/
#services {
	background-color: #ffffff;
}

.services-info .row{
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

h2{
	margin:50px 0 30px 30px;
    font-weight: bold;
    font-size: 40px;
    justify-content: flex-start;
}

.list-group-item{
	padding: 20px 0 20px 30px;
}

/*rectangle 2*/
.rectangle-left2{
	width: 50%;
	height: 660px;
    background-color: #f1f1e8;

}

.rectangle-right2{
     width: 50%;
	 background-color: #ffffff;
     height: 660px;
}

.rectangle-left2 .column-left{
	padding-left: 0px;
	text-align: justify;
    width: 25%;
    border-bottom-style: solid;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    columns: #537a73;
    justify-content: flex-start;
}

.rectangle-left2 .column-right{
	width: 20%;
	text-align: justify;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color:#537a73;
    justify-content: flex-start;
    padding-left: 0px;
}

.rectangle-left2 .column-down{
	width: 100%;
	position: relative;
	padding-top: 50px;
	padding-left: 60px;
	color:#537a73;
	justify-content: flex-start;
}

.rectangle-left2 a{
	color:#e79e4f;
	text-decoration: none;
	cursor: pointer;
}

/* map */
.location-map{
	
	overflow: hidden;
	height: auto;
	width: 100%;
}

/*footer */
.footer {
	background-color: #ffd57e;
	position: absolute;
	height: 100px;
	display: block;
	width: 100%;
}

.footer .row{
	width: 100%;
	
}

.center-footer{
  text-align: center;
	font-size: 15px;
	margin:20px;
}


.center-footer a{
	text-decoration: none;
	color: #206a5d;
}

.center-footer a:hover{
	color: #ffffff;
}

.bottom-area{
	background-color: #ffd57e;
	text-align: center;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #206a5d;
}

.footer-name {
    text-decoration: none;
    color: #206a5d;
}

.footer-name:hover {
    color: #ffffff;
    text-decoration: none;
}

.bold{
	font-weight: bold;
	color: #e79e4f;
}


@media only screen and (max-width: 319px) {
       
body{
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 height: auto;
}

 .container-fluid {
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
}

/*navbar*/

.navbar{
	padding: 0;
}

 .navbar-nav{
	 width: 100vw;
	 flex-direction: row;
	 display: flex;
	 justify-content: center;   	
}

 .navbar-brand {
	width: 100%;
	height: 100%;
	display: block;
	font-size: 15px;

}
.nav-link:hover::after {
   display: none;   
}  

.nav-item{
	 font-size: 12px;
	 padding-left: 10px;
}

.content{
 	width: 100vw;
 	height: auto;
 	display: inline-block;
}

/*rectangle*/
  .rectangle-left{
	width: 100%;
	background-color: #f1f1e8;
	height: 300px;
}

.rectangle-right{
	 width: 100%;
	 height: 250px; 
}

 .rectangle-left .start-text{
	margin: 20px 0px 0px 20px;
 	color: #206a5d;
 	float: right;
 	font-size: 30px;
 	position: absolute;
 	left:0;
}

.rectangle-left .start-text h1{
 	font-size: 15px;
 	color:#537a73;
}

.rectangle-right .banner-image{
 	background-image: url(./ayurveda2.png);
 	background-size: cover;
 	height: 250px;
 	width: 500px;
 	position: absolute;
 	right: 0px;
 	background-repeat: no-repeat;
 	display: flex;
 
}

.button1{
 	border-color: #206a5d;
 	background-color: #206a5d;
 	padding: 10px;
 	font-size: 10px;
 
}

.button1:hover{
	border-color: #F0DCBA;
	background-color: #F0DCBA;
	text-decoration: none;
}

.button1 a{
 	text-decoration: none;
 	color: #ffffff;
}

/*rectangle 1*/
.rectangle-left1{
	width: 100%;
   background-color: #ffffff;
   height: auto;

}

.rectangle-right1{
  	width: 100%;
  	background-color: #f1f1e8;
 	 height: auto;
}

  .about-text{
 	text-align: justify;
 	margin-left:20px;
 	margin-right: 20px;
 	font-size: 15px;
 	color:#537a73;

}

.carousel-inner img {
 	width: 100%;
 	height: auto;
 	align-items: center;
}

/*rectangle 2*/
.rectangle-left2{
 	width: 100%;
 	height: auto;
 	background-color: #f1f1e8;
}

.rectangle-right2{
  	width: 100%;
  	background-color: #ffffff;
  	height: auto;
}

.rectangle-left2 .column-left{
 	padding-left: 30px;
 	width: 100%;
 	border-bottom-style: solid;
 	padding-bottom: 30px;
 	border-bottom-width: 2px;
 	color: #537a73;
 	justify-content: flex-start;
}

.rectangle-left2 .column-right{
 	width: 100%;
 	padding-bottom: 30px;
 	border-bottom-style: solid;
 	border-bottom-width: 2px;
 	color:#537a73;
 	justify-content: flex-start;
 	padding-left: 30px;
 	padding-top: 30px;
}

.rectangle-left2 .column-down{
 	width: 100%;
 	position: relative;
 	padding-top: 30px;
 	padding-left: 30px;
 	color:#537a73;
 	justify-content: flex-start;
 	padding-bottom: 30px;
}

.rectangle-left2 a{
 	color:#edc988;
 	text-decoration: none;
 	cursor: pointer;
}

/*services*/
.services-info .row{
	justify-content: center;
}

h2{
	margin:50px 0 50px 30px;
    font-weight: bold;
    font-size: 30px;
    justify-content: flex-start;
}

/*footer */
.footer {
	background-color: #ffd57e;
	position: absolute;
	height: 100px;
	display: block;
	width: 100%;
}

.footer .row{
	width: 100%;
}

.center-footer{
  text-align: center;
	font-size: 12px;
	margin:20px;
}

.center-footer a{
	text-decoration: none;
	color: #206a5d;
}

.center-footer a:hover{
	color: #ffffff;
}

.bottom-area{
	background-color: #ffd57e;
	text-align: center;
	font-size: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #206a5d;
}

.bold{
	font-weight: bold;
	color: #edc988;
}

}


@media only screen and (min-width: 320px) and (max-width: 768px) {

	body{
			margin: 0;
			padding: 0;
			width: 100%;
			height: auto;
	}
	
	.container-fluid {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			overflow: hidden;
	}
	
	   /*navbar*/
	
	.navbar{
		   padding: 0;
		   justify-content: center;
	
	   }
	
	.navbar-nav{
			width: 100vw;
			flex-direction: row;
			display: flex;
			justify-content: center;   	
	}
	
	.navbar-brand {
		   width: 100%;
		   height: 100%;
		   display: block;
		   font-size: 15px;
		   
	
	}
	
	.nav-link:hover::after {
		  display: none;   
	
	}  
	
	.navbar-nav{
			width: 100vw;
			flex-direction: row;
			display: flex;
			justify-content: center;
	}
	
	.nav-item{
			font-size: 12px;
			padding-left: 20px;
	
	}
	
	.content{
		width: 100vw;
		height: auto;
		display: inline-block;
	}

	/*rectangle*/
.rectangle-left{
	width: 100%;
	background-color: #f1f1e8;
	height: 400px;
   
}

.rectangle-right{
	 width: 100%;
	 height: 450px;
	 background-color: #ffffff;
	 
}

.rectangle-left .start-text{
 margin: 50px 0px 0px 20px;
 color: #206a5d;
 float: right;
 font-size: 40px;
 position: absolute;
 left:0;
}

.rectangle-left .start-text h1{
 font-size: 15px;
 color:#537a73;
}

.rectangle-right .banner-image{
 background-image: url(./ayurveda2.png);
 background-size: cover;
 height: 450px;
 width: 700px;
 position: absolute;
 right: 0px;
 background-repeat: no-repeat;
 display: block;
}


.button1{
 border-color: #206a5d;
 background-color: #206a5d;
 padding: 10px;
 font-size: 12px;
 
}

.button1:hover{
border-color: #F4DBB3;
background-color: #F4DBB3;
text-decoration: none;
}

.button1 a{
 text-decoration: none;
 color: #ffffff;
}

.button1 a:hover{
 color:#206a5d;
}

/*rectangle*/
.rectangle-left{
	width: 100%;
	background-color: #f1f1e8;
	height: 400px;
   
}

.rectangle-right{
	 width: 100%;
	 height: 450px;
	 background-color: #ffffff;
	 
}

.rectangle-left .start-text{
 margin: 50px 0px 0px 20px;
 color: #206a5d;
 float: right;
 font-size: 40px;
 position: absolute;
 left:0;
}

.rectangle-left .start-text h1{
 font-size: 15px;
 color:#537a73;
}

.rectangle-right .banner-image{
 background-image: url(./ayurveda2.png);
 background-size: cover;
 height: 450px;
 width: 700px;
 position: absolute;
 right: 0px;
 background-repeat: no-repeat;
 display: block;
}


.button1{
 border-color: #206a5d;
 background-color: #206a5d;
 padding: 10px;
 font-size: 12px;
 
}

.button1:hover{
border-color: #F4DBB3;
background-color: #F4DBB3;
text-decoration: none;
}

.button1 a{
 text-decoration: none;
 color: #ffffff;
}

.button1 a:hover{
 color:#206a5d;
}

/*rectangle 1*/
  .rectangle-left1{
	width: 100%;
   background-color: #ffffff;
   height: auto;

}

  .rectangle-right1{
  width: 100%;
  background-color: #f1f1e8;
  height: auto;
}

  .about-text{
 text-align: justify;
 margin-left:20px;
 margin-right: 20px;
 font-size: 15px;
 color:#537a73;
}

.carousel-inner img {
 width: 100%;
 height: auto;
 align-items: center;
}

/*rectangle 2*/
.rectangle-left2{
	width: 100%;
	height: auto;
    background-color: #f1f1e8;
}

.rectangle-right2{
     width: 100%;
	 background-color: #ffffff;
     height: auto;
}

.rectangle-left2 .column-left{
	justify-content: flex-start;
    width: 100%;
    border-bottom-style: solid;
    padding-bottom: 30px;
    border-bottom-width: 2px;
    color:#537a73;
	font-size: 14px;
	margin-left: 50px;
}

.rectangle-left2 .column-right{
	width: 100%;
	justify-content: flex-start;
    padding-bottom: 30px;
    border-bottom-style: solid;
    padding-top: 10px;
    border-bottom-width: 2px;
    color:#537a73;
	font-size: 14px;
	margin-left: 50px;
}

.rectangle-left2 .column-down{
	width: 100%;
	position: relative;
	padding-top: 30px;
	justify-content: flex-start;
	padding-bottom: 10px;
	color:#537a73;
	padding-bottom: 30px;
} 

.rectangle-left2 a{
	color:#e79e4f;
	text-decoration: none;
	cursor: pointer;
}

 /*services*/
.services-info .row{
	justify-content: center;
}

h2{
	margin:40px 0 40px 30px;
    font-weight: bold;
    font-size: 30px;
    justify-content: flex-start;
}


/*footer */
.footer {
	background-color: #ffd57e;
	position: absolute;
	height: 80px;
	display: block;
	width: 100%;
}

.footer .row{
	width: 100%;
	
}

.center-footer{
  text-align: center;
	font-size: 12px;
	margin:10px;
}


.center-footer a{
	text-decoration: none;
	color: #206a5d;
}

.center-footer a:hover{
	color: #ffffff;
}

.bottom-area{
	background-color: #ffd57e;
	text-align: center;
	font-size: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #206a5d;
}

.bold{
	font-weight: bold;
	color: #e79e4f;
}


}	

@media only screen and (min-width: 769px) and (max-width: 1200px) {

    body{
		margin: 0;
		padding: 0;
		width: 100%;
		height: auto;
	}

	.container-fluid{
		width: 100%;
	}

	.navbar-nav{
		margin-right: 30px;
	}

	.navbar-brand {
	   width: 100%;
	   height: 100%;
	   display: block;
	   font-size: 20px;
	   padding-left: 10px;

}

     .navbar-nav{
    	font-size: 1.5vw;
    }
    
	.content{
		width: 100vw;
		height: auto;
		display: inline-block;
   }
   

     .rectangle-left{
	   width: 100%;
	   background-color: #f1f1e8;
	   height: 400px;
}

     .rectangle-right{
        width: 100%;
	    background-color: #ffffff;
        height: 660px;
}

   .rectangle-left .start-text{
	margin: 50px 50px 50px 20px;
	color: #206a5d;
	float: right;
	font-size: 50px;
	position: absolute;
	left: 50px;
}

    .rectangle-left .start-text h1{
	font-size: 23px;
}

.rectangle-right .banner-image{
	position: absolute;
	right: 0px;
	display: block;
	
}

.rectangle-left1{
	width: 100%;
	background-color: #ffffff;
	height: auto;

}

    .rectangle-right1{
     width: 100%;
	 background-color: #f1f1e8;
     height: auto;
}

     .about-text{
    text-align: justify;
    margin-left:20px;
    margin-right: 20px;
    font-size: 17px;
}

    /*services*/
   .services-info .row{
	justify-content: center;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    align-items: center;
  }

  .rectangle-left2 { 
	width: 100%;
	height: auto;
    background-color: #f1f1e8;
}

.rectangle-right2 {
     width: 100%;
	 background-color: #ffffff;
     height: auto;
}

.rectangle-left2 .column-left{
	padding-left: 60px;
	text-align: justify;
    width: 100%;
    border-bottom-style: solid;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    color: #537a73;
    justify-content: flex-start;
}

.rectangle-left2 .column-right{
	width: 100%;
	text-align: justify;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color:#537a73;
    justify-content: flex-start;
    padding-left: 60px;
}

.rectangle-left2 .column-down{
	width: 100%;
	position: relative;
	padding-top: 20px;
	padding-left: 60px;
	padding-bottom: 20px;
	color:#537a73;
	justify-content: flex-start;
}

  h2{
	margin:40px 0 40px 30px;
    font-weight: bold;
    font-size: 40px;
	justify-content: flex-start;
}

.rectangle-left2 a{
	color:#edc988;
	text-decoration: none;
	cursor: pointer;
}

/*footer */
.footer {
	background-color: #ffd57e;
	position: absolute;
	height: 100px;
	display: block;
	width: 100%;
}

.footer .row{
	width: 100%;
	
}

.center-footer{
  text-align: center;
	font-size: 15px;
	margin:20px;
}


.center-footer a{
	text-decoration: none;
	color: #206a5d;
}

.center-footer a:hover{
	color: #ffffff;
}

.bottom-area{
	background-color: #ffd57e;
	text-align: center;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #206a5d;
}

.footer-name a{
    text-decoration: none;
}

.footer-name a:hover {
    color: #ffffff;
}

.bold{
	font-weight: bold;
	color: #edc988;
}

}

@media only screen and (min-width: 1201px) {

	body{
	   margin: auto;
	   width: 100%;
	   height: auto;
	   box-sizing: border-box;

   }

   .container-fluid{
	   width: 100%;
   }

.rectangle-left{
	width: 100%;
	background-color: #f1f1e8;
	height: 660px;
   
}

.rectangle-right{
   width: 100%;
   background-color: #f1f1e8;
   height: 660px;
   
}


.rectangle-left .start-text{
   margin-left: 30px;
   margin-top: 150px;
   color: #206a5d;
   float: left;
   font-size: 50px;
   left: 10px;
}

.rectangle-left .start-text h1{
   font-size: 20px;
   color:#206a5d;
   margin-top: -10px;
}

.rectangle-right .banner-image{
   position: absolute;
   right: 0px;
   display: block;
   float: right;
   
}


   .about-text{
   text-align: justify;
   margin-left:30px;
   margin-right: 40px;
}

}