body{
	width: 100%;
	height: 100%;
	font-family: 'Libre Baskerville', serif;
	color: #206a5d;
	margin: auto;
	padding: auto;
}

.container-fluid{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*navbar*/
.navigation{
	margin-top: 0px;
	justify-content: center;
	align-items: center;
}

.navbar{
	justify-content: center;
}
.navbar-brand{
	margin-top: 0;
	padding-left: 20px;
	color: #206a5d;
	cursor: pointer;
	align-items: center;
}

.navbar-nav{
	font-size: 1.2vw;
    font-family: 'Libre Baskerville', serif;
	margin-right: 0px;
	flex-direction: row;
	justify-content: center;
}

.nav-item{
	padding-left: 40px;
	color: #206a5d;
}

/*underline animation */
.nav-link::after {
	content:'';
	display: block;
	width: 0;
	height: 2px;
	background-color: #ffd57e;
	transition: width .3s;
}

.nav-link:hover::after {
	width: 100%;
	transition: width .3s;
}

.nav-link{
	color: #206a5d;
}

.nav-link:hover{
	color: #ffd57e;
}


/* section */

#first-part {
	background-color: #f1f1e8;
}

 .content{
	 width: 100vw;
	 height: auto;
	 display: flex;
}


/*rectangle*/

.rectangle-left{
	 width: 100%;
	 height: 660px;
}

.rectangle-right{
	width: 100%;
	height: 660px;
	
}

.rectangle-left .start-text{
	margin-left: -10px;
	margin-top: 150px;
	color: #206a5d;
	float: left;
	font-size: 50px;
	position: absolute;
	left: 10px;
	z-index: 1;
}

.rectangle-left .start-text h1{
	font-size: 20px;
	color:#206a5d;
	margin-top: -10px;
}

.button1{
    border-color: #206a5d;
    background-color: #206a5d;
    padding: 10px;
    font-size: 15px;
}

.button1:hover{
   border-color:#ffd57e;
   background-color: #ffd57e;
   text-decoration: none;
}

.button1 a{
	text-decoration: none;
	color: #ffffff;
}

.rectangle-right .banner-image{
	background-image: url(./ayurveda2.png);
    background-size: cover;
    height: 660px;
    width: 900px;
    position: absolute;
    right: 0px;
    background-repeat: no-repeat;
    display: block;
}